<!doctype html>
<html lang="es">
  <head>
    <title>Kinedu | Bitacora de actividad</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">     
  </head>

  <body>
    <%= yield %>
  </body>
</html>
